*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0e3c51, #b9aa0d);
    color: #fff;
    position: relative;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    font-size: 30px;
    transform: translate(-50%, -50%);
}
.clock{
    width: 100%;
    height: 100%;
    background:#997a90;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.clock span{
    font-size: 80px;
    width: 110px;
    position: relative;
    display: inline-block;
    line-height: 1;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, .5);
    animation: animate 1s linear infinite;
}
.clock span::after{
    font-size: 16px;
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);

}
h1{
    margin: 30px;
}
#hour::after{
    content: 'HOURS';
}
#minute::after{
    content: 'MINUTES';
}
#second::after{
    content: 'SECONDS';
}
#stop ,#start{
    width: 200px;
    height: 50px;
    background: #fff;
    border-radius: 20px;
    color: #000;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: all .8s ease;
    margin: 50px;
}